@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');

:root {
  color-scheme: light dark;
  
  --bg: oklch(0.96 0 27);
  --text: oklch(0.1 0 27);
  --text-muted: oklch(0.2 0 27);
  --accent: oklch(0.66 0.18 27);
}

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: oklch(0.2 0 27);
      --text: oklch(0.96 0 27);
      --text-muted: oklch(0.76 0 27);
    }
  }

body {
  height: 100dvh;
  width: min(96%, 720px);
  margin-inline: auto;
  background: var(--bg);
  color: var(--text-muted);
  font-family: 'Instrument Sans', Sans-Serif;
}

header, section, footer {
  margin: .5rem 0; 
  padding: 0 .5rem;
}

nav {
  padding: .5rem 0;
  display: flex;
  gap: .5rem
}

h1, h2, h3 {
  font-family: 'Instrument Serif', Serif;
  color: var(--text);
}

h1 a, h2 a {
  color: var(--text);
}

a {
  color: var(--accent);
  text-decoration: none;
}

img {
  width: min(100%, 480px);
  border-radius: .5rem;
}

ul {
  padding: 0 1rem;
  display: grid;
  gap: .5rem;
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}